@import 'variables';

html, body {
  display    : flex;
  width      : 100%;
  min-height : 100vh;
  margin     : 0;
  padding    : 0;
  overflow-x : hidden;
}

#root.page {
  display    : flex;
  width      : 100%;
  height     : auto;
  min-height : 100%;
}

.lw-cs {text-transform : lowercase;}
.up-cs {text-transform : uppercase;}

.disabled {
  cursor  : not-allowed !important;
  opacity : 0.5 !important;
}

.panel.home {
  display         : flex;
  flex-wrap       : wrap-reverse;
  justify-content : center;
  align-items     : center;
  width           : 100vw;
  height          : 100vh;
}

.panel.home > .section {
  display : flex;
  width   : 50vw;
}

/* SECTION LEFT */
.panel.home > .section.left {
  display         : flex;
  flex            : 1;
  flex-direction  : column;
  justify-content : space-around;
  align-items     : center;
  height          : 100%;
  position        : relative;
}

.panel.home > .section.left .header {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  font-family     : 'Gotham Bold', sans-serif;
  font-size       : 48px;
  color           : $mainBlack;
  padding         : 25px 0;
  width           : 70%;
}

.panel.home > .section.left .header .title {
  display         : flex;
  justify-content : center;
  width           : 100%;
  font-weight     : 700;
  font-size       : 22px;
}

.panel.home > .section.left .header .title .book-title {
  width      : 100%;
  text-align : center;
}

.panel.home > .section.left .header .divider {
  margin-top : 25px;
  width      : 45%;
  height     : 1px;
  background : $mainGray;
}

.panel.home > .section.left .body {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  width           : 70%;
  height          : 40%;
  padding         : 40px 0;
}

.panel.home > .section.left .body .title {
  display         : flex;
  justify-content : center;
  width           : 100%;
  text-align      : center;
  font-family     : 'Fjalla One', sans-serif;
  color           : $mainRasp;
  font-size       : 2.5rem;
  margin-bottom   : 25px;
}

.panel.home > .section.left .body .subtitle {
  font-family : 'Gotham Light Regular', sans-serif;
  font-size   : 20px;
  text-align  : center;
}

.panel.home > .section.left .body .subtitle .book-title {
  /* text-decoration: underline; */
  font-weight    : 500;
  color          : $mainRasp;
  text-transform : capitalize;
}

.panel.home > .section.left .links {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  width           : 65%;

  & .section {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    //flex-wrap       : wrap;
    width           : 100%;
    margin          : 40px 0;

    &.buttons {
      margin : 0;
    }
  }
}

.panel.home > .section.left .links .link {
  display            : flex;
  flex-grow          : 1;
  -webkit-flex-grow  : 1;
  justify-content    : center;
  align-items        : center;
  font-family        : 'Gotham Black Regular', sans-serif;
  font-size          : 16px;
  text-transform     : uppercase;
  color              : $mainBlack;
  text-decoration    : none;
  margin             : 0 5px;
  cursor             : pointer;
  transition         : all .3s ease-out;
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;

  &.closed {
    pointer-events : none;
    position       : relative;
    cursor         : not-allowed;
    color          : $mainGray !important;

    &::after {
      display           : flex;
      justify-self      : center;
      justify-content   : center;
      align-self        : center;
      align-items       : center;
      content           : 'COMING SOON';
      position          : absolute;
      transform         : rotate(25deg);
      -webkit-transform : rotate(-25deg);
      -moz-transform    : rotate(-25deg);
      -o-transform      : rotate(-25deg);
      background        : $mainRasp;
      padding           : 5px;
      font-family       : 'Gotham Bold', sans-serif;
      font-size         : .5rem;
      color             : $mainWhite;
      opacity           : .3;
      white-space       : nowrap;
    }
  }

  &.button {
    padding : 15px 20px;

    &.disabled {
      pointer-events : none;
    }
  }
}

.panel.home > .section.left .links .section.general:hover .link:hover {
  color     : $mainBlack;
  transform : scale(1.2);
}

.panel.home > .section.left .links .section.general:hover .link:not(:hover) {
  color     : $mainGray;
  transform : scale(1);
}

.panel.home > .section.left .buttons {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  width          : 70%;
  /* padding: 25px 0; */
}

.panel.home > .section.left .link.button {
  border : 2px solid $mainBlack;
  margin : 0 30px;
}

.panel.home > .section.left .link.button {
  display            : flex;
  justify-content    : center;
  align-items        : center;
  font-family        : 'Gotham Black Regular', sans-serif;
  font-size          : 16px;
  text-transform     : uppercase;
  color              : $mainBlack;
  text-decoration    : none;
  padding            : 15px 30px;
  margin             : 0 15px 25px 15px;
  cursor             : pointer;
  transition         : all .3s ease-out;
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;
}

.panel.home > .section.left .links .link.button.closed {
  border : 2px solid $mainGray;
}

.panel.home > .section.left .link.button:not(.closed):hover {
  background : $mainBlack;
  color      : $mainWhite;
}

.panel.home > .section.left .links .section.buttons .link:hover {
  color     : $mainWhite;
  transform : scale(1.2);
}

//.panel.home > .section.left .links .section.buttons:hover .link:not(:hover) {
//  color : $mainGray;
//  border-color: $mainGray;
//}

.panel.home > .section.left .footer {
  display   : flex;
  width     : 30%;
  max-width : 250px;
}

.panel.home > .section.left .footer .icons {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-around;
  align-items     : center;
  width           : 100%;
  margin          : 50px 0;

  & .icon {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 25px;
    height          : 25px;
  }

  & svg {
    width              : 100%;
    height             : 100%;
    transition         : all .3s ease-out;
    -webkit-transition : all .3s ease-out;
    -moz-transition    : all .3s ease-out;
    fill               : $mainBlack;
  }

  &:hover .icon:not(:hover) svg {
    fill : $mainGray;
  }

  & .icon:hover svg {
    fill              : $mainBlack;
    transform         : scale(1.3);
    -webkit-transform : scale(1.3);
    -moz-transform    : scale(1.3);
  }
}
/* END SECTION LEFT */

/* SECTION RIGHT */
.panel.home > .section.right {
  display         : flex;
  flex            : 1;
  justify-content : center;
  align-items     : center;
  position        : relative;
  height          : 100%;

  & .mySlides {
    display : flex;
    flex    : 1;
    height  : 100%;

    & img {
      object-fit      : cover;
      object-position : center;
      width           : 100%;
      height          : 100%;
    }
  }
}

/* SLIDESHOW FADE ANIMATION */
.fade {
  -webkit-animation-name     : fade;
  -webkit-animation-duration : 2s;
  animation-name             : fade;
  animation-duration         : 2s;
}

@-webkit-keyframes fade {
  from {opacity : .3}
  to {opacity : 1}
}

@keyframes fade {
  from {opacity : .3}
  to {opacity : 1}
}
/* END SLIDESHOW FADE ANIMATION */
/* END SECTION RIGHT */

/* SECTION PRAISE (QUOTES) */
.section.praise {
  position : absolute;
  z-index  : 5;
  height   : 100vh;
  right    : 100%;
}

/* END SECTION PRAISE */

/* SIDEBAR */
.sidebar-component {
  position    : fixed;
  top         : 10px;
  left        : 10px;
  z-index     : 100;
  font-family : 'Gotham Light Regular', sans-serif;
}

.sidebar {
  display        : flex;
  flex-direction : column;
  width          : 300px;

  .header {
    display         : flex;
    flex            : 1;
    justify-content : center;
    align-items     : center;
    font-family     : 'Gotham Black Regular', sans-serif;
    font-size       : 24px;
    color           : $mainBlack;
    padding         : 20px 0;
  }

  .link {
    text-decoration : none;

    .text {
      font-family     : 'Gotham Medium', sans-serif;
      color           : $mainBlack;
      text-decoration : none;
    }
  }
}

.sidebar-toggle {
  display            : flex;
  justify-content    : center;
  align-items        : center;
  position           : fixed;
  left               : 10px;
  top                : 10px;
  transition         : all .3s ease-out;
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;

  & .sidebar-icon {
    width  : 30px;
    height : 30px;
  }
}

/* Praise */
.view-toggle.praise {
  justify-content : center;
  align-items     : center;
}

.view-toggle.praise.show {
  left : 0;
}

.view-toggle.praise .button {

}

.view-toggle.praise .text {

}
/* End Praise */
/* END VIEW TOGGLE */

.panel.events {
  display         : flex;
  flex-direction  : column;
  justify-self    : center;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 100%;

  .event-filter {
    display         : flex;
    flex            : 1;
    justify-content : space-around;
    align-items     : center;
    padding         : 35px 0;
  }

  .events-container {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    flex-wrap       : wrap;
    height          : 100%;
  }

  .event-form {
    display         : flex;
    flex            : 1;
    justify-content : space-around;
    align-items     : center;
    padding         : 25px 0;
  }

  .card-container {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    flex-wrap       : wrap;
  }

  .event.card {
    width  : 300px;
    margin : 10px 25px;
  }
}
// END EVENTS //

// CONTACT //
.panel.contact {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 100%;

  & form.contact {
    display         : flex;
    flex-flow       : column wrap;
    justify-content : center;
    align-items     : center;
    width           : 50%;
    max-width       : 600px;
    height          : auto;
    padding         : 25px;
    border-radius   : 15px;
    box-shadow      : 0 3px 1px -1px rgba($mainBlack, 0.25),
    1px 1px 1px 0 rgba($mainBlack, 0.15),
    -3px 1px 3px 0 rgba($mainBlack, 0.15);
    font-family     : 'Gotham Light Regular', sans-serif;

    & .header {
      display         : flex;
      flex            : 1;
      justify-content : center;
      align-items     : center;
      width           : 100%;
      padding         : 25px 0 35px 0;
      position        : relative;
      font-family     : 'Gotham Black Regular', sans-serif;
      font-size       : 2rem;
      color           : $mainWhite;
      margin-bottom   : 15px;

      & .title {
        z-index : 1;
      }

      & .background {
        width                   : calc(100% + 50px);
        height                  : 100%;
        padding-top             : 25px;
        background              : $mainRasp;
        position                : absolute;
        top                     : -25px;
        z-index                 : 0;
        border-top-left-radius  : 15px;
        border-top-right-radius : 15px;
      }
    }

    & .row {
      display         : flex;
      flex            : 1;
      flex-wrap       : wrap;
      justify-content : space-around;
      width           : 100%;

      & .formField {
        flex      : 1;
        min-width : 200px;
        margin    : 10px;
        color     : $mainBlack;

        & label.Mui-focused {
          color : $mainRasp;
        }

        & input:focus ~ fieldset,
        textarea:focus ~ fieldset {
          border-color : $mainRasp;
        }

        & input:-webkit-autofill,
        .MuiOutlinedInput-input:-webkit-autofill,
        .MuiOutlinedBase-input:-webkit-autofill {
          background : $mainRasp !important;
          box-shadow : inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px $mainWhite;
        }
      }

      & .formSubmit {
        font-family : 'Gotham Bold', sans-serif;
        color       : $mainWhite;
        background  : $mainRasp;
        margin      : 25px 0 10px 0;

        & .MuiButton-endIcon {}
      }

      &.alert {
        flex               : 1;
        flex-wrap          : nowrap;
        justify-content    : space-between;
        align-items        : center;
        width              : calc(100% - 40px); // -20px (input margins), -20px (padding for justify:space-between)
        padding            : 10px;
        font-size          : .85rem;
        border-radius      : 4px;
        margin             : 10px 0;
        transition         : all 0.5s ease-out;
        -webkit-transition : all 0.5s ease-out;

        &.error {
          background : rgba($mainRed, .3);
          border     : 1px solid $mainRasp;
        }

        &.success {
          background : rgba($mainGreen, .3);
          border     : 1px solid $mainGreen;
        }

        & .message {
          display     : flex;
          align-items : center;

          & .icon {
            fill : $mainBlack;
          }
        }

        & .close {
          display            : flex;
          justify-content    : center;
          align-items        : center;
          width              : 1.5rem;
          height             : 1.5rem;
          position           : relative;
          border-radius      : 100%;
          cursor             : pointer;
          transition         : all 0.3s ease-out;
          -webkit-transition : all 0.3s ease-out;

          &:hover {
            background : rgba($mainGray, .3);
          }

          & svg {
            fill   : $mainBlack;
            width  : 1rem;
            height : 1rem;
          }
        }
      }
    }
  }
}
// END CONTACT //

/* Mini Scrollbar */
.mini-scrollbar::-webkit-scrollbar { /* Background Container */
  width              : 8px;
  height             : 0;
  margin-right       : 10px;
  /* background: $mainRasp; */
  background         : white;
  position           : fixed;
  right              : 10px;
  top                : 0;
  bottom             : 0;
  transition         : all .5s ease-in-out;
  -webkit-transition : all .5s ease-in-out;
}

.mini-scrollbar::-webkit-scrollbar-track {
  display            : none;
  height             : 0;
  background         : none;
  transition         : all .5s ease-in-out;
  -webkit-transition : all .5s ease-in-out;
}

.mini-scrollbar::-webkit-scrollbar-thumb {
  background         : $mainGray;
  transition         : all .5s ease-in-out;
  -webkit-transition : all .5s ease-in-out;
}

.mini-scrollbar::-webkit-scrollbar:hover + ::-webkit-scrollbar-thumb {
  background : $mainGray;
}

.mini-scrollbar:hover ::-webkit-scrollbar-thumb {
  background : $mainGray;
}
/* END Mini Scrollbar */

/* Rounded Scrollbar */
.round-scrollbar::-webkit-scrollbar-thumb {
  border-radius : 50%;
}

/* END Rounded Scrollbar */

// SVG CUSTOMIZATIONS //
.footer .icons {

  & .icon:hover #instagram-icon {
    //fill: $mainWhite;
    //background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    //background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    //background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
}
svg#facebook-icon:hover {
  //  fill : $facebookBlue;
}
// END SVG CUSTOMIZATIONS //

// MEDIA QUERIES //

// Extra small devices (phones, <= 600px) //
//@media only screen and (max-width : 600px) {}

// Small devices (portrait tables and large phones, >= 600px) //
//@media only screen and (min-width : 600px) {}

// ALL Smaller devices (<= 768px) //
@media screen and (max-width : 768px) {
  .page {
    height : auto;
  }

  .panel.home {
    flex-direction : column;
    width          : 100%;
    height         : auto;

    & .section {
      width  : 100%;
      height : auto;

      &.left {
        justify-content : center;
        order           : 2;
      }

      &.right {
        flex   : none;
        height : 45vh;
        order  : 1;
      }
    }
  }

  .panel.contact {

    & form.contact {
      width : 85%;
    }
  }
}

// Medium devices (landscape tablets, >= 768px) //
@media screen and (min-width : 768px) {}

// Large devices (laptops/desktops, >= 992px) //
@media screen and (min-width : 992px) {}

// Extra large devices (large laptops/desktops, >= 1200px //
@media screen and (min-width : 1200px) {}

// END MEDIA QUERIES //
