$mainBlack: #171717;
$mainGray: #e8e8e8;
$mainDarkGray: #464646;
$mainWhite: #ffffff;
$navLightWhite: rgba(255, 255, 255, .3);
$mainBlue: #3c91e6;
$mainDarkBlue: #0235d1;
$mainRed: #f22e2b;
$mainYellow: #f4ff2b;
$mainGreen: #4cff79;
$mainRasp: #a1322b;
$facebookBlue: #3b5998;
